USE [master]
GO
/****** Object:  Database [User]    Script Date: 23.05.2023 3:52:05 ******/
CREATE DATABASE [User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'matvey', FILENAME = N'E:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\matvey.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'matvey_log', FILENAME = N'E:\sql\MSSQL16.SQLEXPRESS\MSSQL\DATA\matvey_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [name].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [name]
GO
/****** Object:  Table [dbo].[BlackList]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackList](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_BlackList] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](50) NOT NULL,
	[НомерТелефона] [nvarchar](11) NOT NULL,
	[ДанныеПаспорта] [nvarchar](11) NOT NULL,
	[ДатаРождения] [date] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Организация] [nvarchar](50) NOT NULL,
	[Фото] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersGroupActivity]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersGroupActivity](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[ДатаФормирования] [date] NOT NULL,
	[ДатаВыезда] [date] NOT NULL,
	[ДатаОкончания] [date] NOT NULL,
	[Подразделение] [nvarchar](50) NOT NULL,
	[ФИОСотрудника] [nvarchar](50) NOT NULL,
	[Примечание] [nvarchar](50) NOT NULL,
	[Профиль] [int] NOT NULL,
	[Файл] [nvarchar](100) NULL,
	[Статус] [nvarchar](50) NOT NULL,
	[ЦельПосещения] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsersGroupActivity] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersPrivateActivity]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPrivateActivity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ДатаФормирования] [date] NOT NULL,
	[ЦельПосещения] [nvarchar](50) NOT NULL,
	[ДатаНачала] [date] NOT NULL,
	[ДатаОкончания] [date] NOT NULL,
	[Подразделение] [nvarchar](50) NULL,
	[ФИОСотрудника] [nvarchar](50) NULL,
	[Примечание] [nchar](10) NULL,
	[Файл] [nvarchar](100) NULL,
	[Профиль] [int] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsersPrivateActivity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Посещение]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Посещение](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[ЗаявкаПосещения] [int] NOT NULL,
	[Дата] [date] NOT NULL,
	[ПриходИлиУход] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_Посещение] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 23.05.2023 3:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](50) NOT NULL,
	[Подразделение] [nvarchar](50) NOT NULL,
	[Логин] [nvarchar](25) NOT NULL,
	[Пароль] [nvarchar](25) NOT NULL,
	[СекретноеСлово] [nchar](10) NULL,
	[ПравоДобавления] [bit] NULL,
	[ПравоПросмотра] [bit] NULL,
	[ПравоОтчётов] [bit] NULL,
	[Одобрено] [bit] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
